<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- Otros elementos del toolbar si los tienes -->
  <div>
    <h1>Camarones rugby & hockey club</h1>
  </div>

</mat-toolbar>
<mat-sidenav-container class="container">
  
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-sidenav [collapsed]="collapsed()"></app-sidenav>

  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
      
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



<footer>
<app-footer></app-footer>
</footer>