<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<header>
  
  <div class="toolbar" role="banner">

    <span>Bienvenido</span>
      <div class="spacer"></div>
  </div>
</header>
<body>
  <div>
    <h1>asdasd</h1>
  </div>
  <div>

    <span>{{ title }} app esta en funcionamiento!</span>

    
  </div>
    
</body>
