<div class="sidenav-header">
    <img [width]="profilePicSize()" [height]="profilePicSize()" [src]="'/assets/Imagenes/camarones.jpg'" alt="Camarones">
    <div class="header-text" [class.hide-header-text]="!sidenavCollapsed()">
        <h2>Menu Administracion</h2>
        <h3>Opciones</h3>
    </div>
</div>
<mat-nav-list>
    <a mat-list-item *ngFor="let item of menuItem()" 
    [routerLink]="item.route"
    routerLinkActive="mat-accent" routerLinkActiveOptions="{ exact: true }">
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        <span matListTitle>{{item.label}}</span>
    </a>
</mat-nav-list>