<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.component.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

  <title>Document</title>
</head>
<body>
  <header>
  <nav class="navbar">
    <a (click)="clearRouterOutlet()" class="logo">Logo</a>
    <div class="nav-links">
      <ul>
        <li class="select"><a href="socio">Socio</a></li>
        <li><a href="cuota">Cuota</a></li>
        <li><a href="gasto">Gasto</a></li>
        <li><a href="proveedor">Provedoor</a></li>
      </ul>
    </div>
  </nav>
  </header>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</body>
</html>