/* home.component.css */
/* home.component.css */

* {
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
}

body {

  font-family: 'Poppins';
  
}
header {
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/Imagenes/fondo.jpg');
  background-size: cover;
}
.navbar{
  position: absolute;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}


.navbar .logo{
  font-size: 2em;
}