
<link rel="stylesheet" href="home.component.css">
<head>
<div class="container">
    <div class="header">
      <h1>Bienvenido a la adminstracion</h1>
      <!-- Barra de Navegación -->
      <nav class="taskbar">
        <ul>
          <li><a routerLink="/cuota">Cuotas</a></li>
          <li><a routerLink="/gasto">Gastos</a></li>
          <li><a routerLink="/proveedor">Proveedores</a></li>
          <li><a routerLink="/socio">Socios</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="dashboard">
      <!-- Contenido de la Página de Inicio -->
    </div>
  </div>
</head>