footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    margin-left: -19px;
}
footer hr{
    width: 20%;
}